/* ==========================================================================
Damasio Gerena Custom stylings after boilerplate bootstrap
   ========================================================================== */
 /* resourcess ====== */
/*
@font-face {
 font-family: 'symbols';
 src: url("Arrows_tfb.eot");  EOT file for IE 
 font-family: 'symbols';
 src: url("Arrows_tfb.ttf");  TTF file for CSS3 browsers 
}
.play{
	font-family:'symbols';
}
*/
 /* ==== header===== */
 .navbar-brand{
 	 margin-left: 10px;
 	 width:90px;
	 background-image: url(../img/logo.png);
	 background-repeat: no-repeat;
	 text-indent: -1000px;
 }
 div.navbar.navbar-inverse{
 	background-image: none;
	 background-color: #ebd56c;
	 border-color: #C1AB3E;
 }
 .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #44ab52;
}
.navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #60bfaf ;
 }
 .btn-success:active, .btn-success.active {
background-color:#beed2d;
border-color:#419641;
}
/* ====== main cta area ==== */
.btn-primary:active, .btn-primary.active {
background-color:#60bfaf;
border-color:#2d6ca2;
}
.btn-primary {
background-image: none;
background-color: #77c3b7;
border-color: #79a29c;
}
.jumbotron{
	background-color: #ebe7d3;
	padding-top: 0;
	overflow: hidden;
	height: 500px;
	border-bottom: 2px solid #aaa8a8;
	margin: 0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
}
.jumbotron h1, .jumbotron p{
	color: #f4f1f1;
}
.jumbotron .container{
	background-position-x: 5px;
	background-image: url(../img/college-sky-ccfind.jpg);
	background-repeat: no-repeat;
	background-color: #ebe7d3;
	height:750px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff;
background-color: #a7f2ca;
border-color: #78c99e;
}
.cta-p{
	width:40%;
}
body{
	background-color: #e0caac;
}
.container{
	width: 76%;
	margin-top: 5px;	
}
    /* ==== video ====*/
#video-container{
	clear: both;
	width: 700px;
	height: 480px;
	border-color: #afa7a7;
	border-width: 18px;
 }
#higley_wigley{
	padding: 5px;
	background-color: grey;
	border-radius: 8px;
}
 /* ====buttons====*/
 #slider-vertical{
	 display: inline-block;
	 position: relative;
	 top:-234px;
	 margin-bottom: -179px;
	 left:13px;
}
.video-controls{
	float: left;
	position: relative;
	clear: both;
	top: -40px;
}
.video-controls .form-group button{
	margin-top: 5px;
}
 .timeline{
 	position: relative;
 	bottom:5px;
	 border-radius: 37px;
	 width: 674px;
	 height: 5px;
	 box-shadow: inset 1px 1px 1px 34px #828080;
	 margin: 0 13px;
 }
 .play {
   
}

/* === awsome button found on http://cssdeck.com/labs/amazing-play-button-in-css3 created by Sergio Camalich. =====
#hole {
    background-color: #151515;
    width: 310px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    position: relative;
    -webkit-border-radius: 155px;
    -moz-border-radius: 155px;
    border-radius: 155px;
    -webkit-box-shadow: 1px 1px 0px #5d5d5d;
    -moz-box-shadow: 1px 1px 0px #5d5d5d;
    box-shadow: 1px 1px 0px #5d5d5d;
}
#button {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    cursor: pointer;
    top: -5px;
    position: relative;
    background-image: linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -o-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    -webkit-box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
    -moz-box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
    box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
#button:active {
    top: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: inset 0px 2px 0px #a8a8a8;
}
#triangle {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -27px;
    top: -50px;
    position: relative;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid #22a9db;
    z-index: 2;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#button:hover #triangle { border-left: 80px solid #45bde9 }
#button:active #triangle { border-left: 80px solid #e94545 }
#lighter_triangle {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -27px;
    top: -48px;
    position: absolute;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid #43c0ee;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#button:hover #lighter_triangle { border-left: 80px solid #8bdaf7 }
#button:active #lighter_triangle { border-left: 80px solid #f78b8b }
#darker_triangle {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -28px;
    top: -53px;
    position: absolute;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid #0a7da7;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#button:hover #darker_triangle { border-left: 80px solid #1d98c5 }
#button:active #darker_triangle { border-left: 80px solid #c51d1d }
 ==== end his amazing button === */